@keyframes intro_left_right{
    0%{
        color: white;
        padding-right: 50px;
    }
    100%{
        color: black;
    }
}

@keyframes intro_up_down{
    0%{
        color: white;
        padding-top: 50px;
    }
    100%{
        color: black;
    }
}


#writer{
    animation: intro_left_right;
    animation-fill-mode: backwards;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    text-align: right;
    padding-right: 10px;
}
h1{ 
    animation: intro_up_down;
    animation-fill-mode: backwards;
    animation-duration: 600ms;
    text-align: center;
}
h2{
    margin-left: 10px;
}
p{
    margin-left: 40px;
}